* {
  box-sizing: border-box;

  /* for chrome */
  ::-webkit-scrollbar {
    height: 10px;
    width: 5px;
  }

  /*scrollbar track */
  ::-webkit-scrollbar-track {
    background: #ececec;
    border-radius: 10px;
  }

  /* scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(47, 12, 136, 0.3);
    border-radius: 10px;
  }
}

/* firefox */
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(47, 12, 136, 0.42) #ececec;
  }
}